@use "../../assets/styles/variables" as *;

.navBar {
  height: 102%;
  background-color: $secondary-accent-color;

  &__linkList{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  &__image{
    margin: 10px;
  }
  &__link {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
  }

  &__link:hover{
    background-color: $tertiaryColour;
    transition: 0.7s ease-in-out;
  }
}
