@use "../../assets/styles/variables" as *;

.pokeInfoCard {
  &__container {
    display: inline-block;
    margin: 150px auto;
    max-width: 350px;
    padding: 1em;
    border-radius: 15px;
    text-align: left;
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.6), 3px 3px 3px 0 rgba(#f759e4, 0.6), 0 0 6px 2px rgba(#ffe759, 0.6),
      0 35px 25px -15px rgba(0, 0, 0, 0.5);
    background-color: $tertiaryColour;
    background-blend-mode: color-dodge;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
    transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
    transition: 0.5s ease-in-out;
  }

  &__container:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    color: $secondary-color;
  }

  &__pokeImg {
    max-height: 150px;
    margin: 30px auto;
    display: inline-block;
  }

  &__cross {
    height: 15px;
    width: 15px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    background-color: $primary-card-color;
  }
  &__types {
    margin: 10px 10px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    color: $secondary-color;
  }

  &__info {
    margin: 10px 10px;
  }

  &__buttons {
    display: flex;
    justify-content: right;
  }

  &__add {
    width: fit-content;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
    background-color: $tertiaryColour;
    border-radius: 8px;
    margin: 0;
    font-size: 12px;
    margin-left: 7px;
    height: 39px;
    padding: 11px 20px;
    color: $secondary-color;
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.6), 3px 3px 3px 0 rgba(#ffe759, 0.6), 0 0 6px 2px rgba(#f759e4, 0.6),
      0 35px 25px -15px rgba(0, 0, 0, 0.5);
  }

  &__delete {
    width: fit-content;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
    background-color: $secondary-card-color;
    color: $secondary-color;
    border-radius: 8px;
    margin: 0;
    font-size: 12px;
    margin-left: 7px;
    height: 39px;
    padding: 11px 20px;
    box-shadow: -3px -3px 3px 0 rgba(#f759e4, 0.6), 3px 3px 3px 0 rgba(#ffe759, 0.6), 0 0 6px 2px rgba(#26e6f7, 0.6),
      0 35px 25px -15px rgba(0, 0, 0, 0.5);
  }
}
