@use "../../assets/styles/variables" as *;

.pokeInfoCard {
  margin: auto;
  position: relative;
  width: 90vw;
  height: 30vw;
  background-color: darkgray;

  &__header {
    margin: 20px;
    display: flex;
    max-width: auto;
    justify-content: space-between;
  }

  &__heading {
    flex-direction: column;
    margin: auto;
    font-size: 50px;
  }

  &__grid {
    display: flex;
  }

  &__profile {
    width: 25vw;
    height: 40vh;
  }

  &__images {
    position: relative;
    top: 100px;
    right: 100px;
  }

  &__pokeball {
    position: relative;
    width: 13vw;
    height: 13vw;
    top: 10px;
    left: 100px;
  }

  &__pokeImg {
    position: absolute;
    width: 13vh;
    height: 13vh;
    top: 80px;
    right: 100px;
  }
  &__description {
    margin: auto;
    width: 50vw;
    height: 20vh;
  }

  &__cross {
    height: 25px;
    width: 25px;
  }
}
