@use "../../assets/styles/variables" as *;

.navBarItem {
  height: 5vh;
  &__link {
    text-decoration: none;
  }
  &__text{
    color: $secondary-color;
    font-family: $primary-font-family;
    margin: auto 20px;
  }
}
