@use "../../assets/styles/variables" as *;

.nav-bar-item {
    display: flex;
    height: min-content;
    align-items: center;
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px;
      svg {
        height: 16px;
        width: 16px;
      }
      path {
        stroke: grey;
      }
    }
    &__text {
      padding: 5px;
      color: grey;
    }
  }
  
  .selected {
    border-left: 3px solid green;
    background-color: rgba(grey, 0.2);
    > * {
      color: navy;
    }
    path {
      stroke: blue;
    }
  }