@use "../../assets/styles/variables" as *;

.pokeCard {
  display: flex;
  max-width: 10vw;
  max-height: 10vh;
  margin: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;

  &__img {
    display: block;
    max-width: 7vw;
    height: 7vh;
    margin: 10px;
  }
}