@use "../../assets/styles/variables" as *;

.home {
    &__header {
        display: flex;
        flex-direction: row;
    }

    &__heading {
        color: white;
        margin: auto 0;
    }
    &__logo{
        width: 15vw;
    }
    &__content {
        display: flex;
    }
    &__text{
        margin: auto;
        width: 30vw;
    }
    &__intro{
        color: white;
    }
    &__howTo{
        color: white;
    }
   
}

