@use "../../assets/styles/variables" as *;

.header{

    &__title{
        font-family: $titleOne-font-family;
        font-size: 35px;
        letter-spacing: 5px;
        color: $secondary-color;
    }
}