@use "../../assets/styles/variables" as *;

@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
.profileHeader {
  display: flex;
  background-color: $secondary-color;
  border-radius: 10px;
  border: 1px solid $tertiaryColour;
  box-shadow: 7px 7px 10px rgba(#000, 0.8);
  margin: 10px;
  padding: 10px;
  &__img {
    max-width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  &__userName {
    font-size: larger;
  }

  &__teamName {
    font-size: larger;
  }

  &__team {
    transition: all ease-in-out 0.3s;
    
  }

  &__team:hover {
    animation: bounce .5s infinite;
  }
}