.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  width: 100%;
  pointer-events: none;
  left: 0px;
}

.App-logoOpacity{
  position: absolute;
  pointer-events: none;
  left: 0px;
  height: 0;
  width: 0;
}
